* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  text-align: center;
  color: aliceblue;
  margin: 20px;
}

nav ul a {
  margin: 10px;
}
