* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

nav {
  background-color: #292828;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav ul {
  display: flex;
  align-items: center;
  padding: 0.4rem 0rem;
}

nav ul a {
  padding-left: 0.5rem;
}

body {
  background: #252627;
}

button {
  background-color: #5e36ad;
  border: none;
  border-radius: 5px;
  color: #ece9f2;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
  transition-duration: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #482985;
}

button:active {
  transform: translateY(4px);
}

.mainTitle {
  color: #5e36ad;
  position: absolute;
  letter-spacing: 3px;
  top: 50%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%);
  text-shadow: 2px 1px #191919;
}

.projectButton {
  position: absolute;
  top: 60vh;
  left: 50vw;
  margin: 1rem -50% 0 0;
  transform: translate(-50%, -50%);
}

.githubIcon,
.linkedinIcon,
.mailIcon {
  position: relative;
  top: 0.21rem;
}

.githubIcon:hover,
.linkedinIcon:hover,
.mailIcon:hover {
  transform: translateY(2px);
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.projectsView {
  max-width: 40rem;
}

.projectsTitle {
  color: #5e36ad;
  text-shadow: 2px 1px #191919;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.projectTitle {
  color: #e3700b;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.project {
  margin-bottom: 3rem;
}

.projectImage {
  border: #5e36ad 3px solid;
}

.projectImage:hover {
  opacity: 0.8;
}

.projectsRow {
  display: flex;
  flex-flow: row wrap;
  gap: 3%;
}

/*---------Media Queries-----------------*/

@media (max-width: 750px) {
  .projectsRow {
    flex-direction: column;
    align-items: center;
  }
}

/*---------Beginning Animation-----------*/

@keyframes dropVanish {
  30% {
    color: #e3700b;
  }

  50% {
    opacity: 0.8;
    color: #e3700b;
  }

  80% {
    opacity: 0.1;
    color: #e3700b;
  }

  100% {
    opacity: 0.8;
    color: #e3700b;
  }
}

.mainTitle span {
  animation: dropVanish 1.1s forwards;
}

.mainTitle span:nth-of-type(2) {
  animation-delay: 0.05s;
}

.mainTitle span:nth-of-type(3) {
  animation-delay: 0.1s;
}

.mainTitle span:nth-of-type(4) {
  animation-delay: 0.15s;
}

.mainTitle span:nth-of-type(5) {
  animation-delay: 0.2s;
}

.mainTitle span:nth-of-type(6) {
  animation-delay: 0.25s;
}

.mainTitle span:nth-of-type(7) {
  animation-delay: 0.3s;
}

.mainTitle span:nth-of-type(8) {
  animation-delay: 0.35s;
}

.mainTitle span:nth-of-type(9) {
  animation-delay: 0.4s;
}

.mainTitle span:nth-of-type(10) {
  animation-delay: 0.45s;
}

.mainTitle span:nth-of-type(11) {
  animation-delay: 0.5s;
}

.mainTitle span:nth-of-type(12) {
  animation-delay: 0.55s;
}

.mainTitle span:nth-of-type(13) {
  animation-delay: 0.6s;
}

.mainTitle span:nth-of-type(14) {
  animation-delay: 0.65s;
}

.mainTitle span:nth-of-type(15) {
  animation-delay: 0.7s;
}

.mainTitle span:nth-of-type(16) {
  animation-delay: 0.75s;
}

.mainTitle span:nth-of-type(17) {
  animation-delay: 0.8s;
}

.mainTitle span:nth-of-type(18) {
  animation-delay: 0.85s;
}

.mainTitle span:nth-of-type(19) {
  animation-delay: 0.9s;
}

.mainTitle span:nth-of-type(20) {
  animation-delay: 0.95s;
}
